.demo-box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
}

.box1 {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: 40%;
    height: 40%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-decoration: none;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.box h1 {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: black; /* optional: background for readability */ 
}

.box2 {
    background-image: url('/box2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);  
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    overflow-x: hidden;
}
.box2 h1{
    width: 100%;
    background: #000;
    font-size: 100px;
    color: rgb(231, 200, 164);
    padding: 10px;
    border: 2px solid black;
}
.box2 p{
    width: 100%;
    background: #fff;
    color: rgb(231, 200, 164);
    font-size:50px;
    padding: 10px;
}


@media screen and (max-width: 768px){
    .demo-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    gap: 20px;
}

.box1 {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction:row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box {
    width:40%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-decoration: none;
}
.box h1 {
    font-size: 16px;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: black; /* optional: background for readability */ 
}
.box2 {
    background-image: url('/box2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);  
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    overflow-x: hidden;
}
.box2 h1{
    width: 100%;
    background: #000;
    font-size: 50px;
    color: rgb(231, 200, 164);
    padding: 10px;
    border: 2px solid black;
}
.box2 p{
    width: 100%;
    background: #fff;
    color: rgb(231, 200, 164);
    font-size:25px;
    padding: 10px;
}

}