.home {
    background-image: url('/shoe9.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:right;
}

.home div {
    width: 40%;
    height: 600px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 20px;
    background-color: rgb(255, 255, 255,0.5);
}

.home div h2 {
    color: rgb(90, 50, 1);
}

.home div h1 {
    font-size: 50px;
    width: 50%;
    color: rgb(255, 177, 83);
}

.home div p {
    width: 70%;
    color: rgb(90, 50, 1);
}

.home div a {
    width: 100px;
    background: rgb(42, 25, 4);
    color: aliceblue;
    border: none;
    border-radius: 2px;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .home div {
        width: 100%;
        height: 600px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}