*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgba(0, 0, 0, 0.900);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav img{
    width: 80px;
    position: relative;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
nav ul a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 5px;
    border-bottom: none;
}
nav ul a:hover{
    /* background:#ffffff9e; */
    color: rgb(255, 255, 255);
    border-bottom:1px solid white;
    
}

@media screen and (max-width:768px) {
    nav{
    background-color: rgba(0, 0, 0, 0.900);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
    nav img{
    width: 50px;
    position: relative;
}
}
